#map {
    height: 300px;
  }
  
  #details-panel {
    text-align: center;
  }
  
  .leaflet-bottom, .leaflet-left {
    pointer-events: auto;
  }

  .top-charts {
    margin: 20px;
    padding: 20px;
  }
  