<div><h2 class="text-center"><strong>National Yield Prediction </strong> </h2></div>
<button mat-raised-button color="accent" routerLink="/wheat">wheat</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/sorghum">Sorghum</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/maize">Maize</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/soybean">Soybeans</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/pea">Peas</button>&nbsp;
<button mat-raised-button color="accent" routerLink="/prediction">Back</button>&nbsp;
