<!-- <div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div> -->

<!-- <br>

<mat-divider></mat-divider>

<br> -->

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25" *ngIf="!showUserBoard && !showModeratorBoard && !showSeederBoard">
      <app-widget-card label="Alimuni Users" total=" {{userUserRoleCount}} " [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25" *ngIf="!showUserBoard && !showModeratorBoard && !showSeederBoard">
      <app-widget-card label="Total Admins" total="{{userAdminRoleCount}} "  [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25"  *ngIf="!showUserBoard && !showModeratorBoard && !showSeederBoard">
      <app-widget-card label="Total Extention worker" total=" {{userExtentionRoleCount}}"  [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25"  *ngIf="!showUserBoard && !showModeratorBoard && !showSeederBoard">
      <app-widget-card label="Total Seed Expert" total="{{userSeederRoleCount}}"  [data]="cards"></app-widget-card>
  </mat-card>

  <!-- //////////////////////////////////// -->

  <mat-card fxFlex="25"  *ngIf="!showAdminBoard && !showModeratorBoard && !showSeederBoard">
    <app-widget-card label="No. of Total Harvest" total="{{harvestCount}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard && !showModeratorBoard && !showSeederBoard">
    <app-widget-card label="Total Harvest (kg) " total="{{ harverstTotalQtySum}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard && !showUserBoard && !showSeederBoard">
    <app-widget-card label="Total farmers " total="{{ farmers}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard && !showUserBoard && !showSeederBoard">
    <app-widget-card label="No. of Harvest " total="{{ ExtentionHarvestCount}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard && !showUserBoard && !showSeederBoard">
    <app-widget-card label="No. Plantation " total="{{ ExtentionPlantationCount}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard  && !showSeederBoard">
    <app-widget-card label="Total Harvest Quantity" total="{{ ExtentionHarvestCountEach}}"  [data]="cards"></app-widget-card>
</mat-card>

<mat-card fxFlex="25"  *ngIf="!showAdminBoard  && !showSeederBoard">
    <app-widget-card label="Total Plantaion Quantity" total="{{ ExtentionPlantCountEach}}"  [data]="cards"></app-widget-card>
</mat-card>




</div>

<br>

<mat-divider></mat-divider>

<br>














<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table  mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
                <!-- Name Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
  
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
  
               
  
                <!-- Roles Column -->
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.roles[0].name}} </td>
                    
                </ng-container>

                 <!-- Date Column -->
                 <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt| date : 'short'}} </td>
                    
                </ng-container>

               
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            <mat-paginator  [length] = "50" [pageSizeOptions]="[5, 8, 10 ,20]"></mat-paginator>
           
        </div>
  
    </div>

</div>
  <div fxFlex="40">
      <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div>

<br>
<br>
<br>